h1{
    background-color: yellow;
}
h2{
    background-color: red;
}
li{
    color: aqua;

}
input{
    background-color: blueviolet;
}
button{
    background-color: antiquewhite;
    color: black;
    height: 30px;
    width: 100px;
}